.game-board {
  --tile-icon-size: 12vh;

  width: 60vh;
  height: 60vh;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tile-icon {
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
}

.tile-icon.x-player-icon {
  width: calc(var(--tile-icon-size));
  height: calc(var(--tile-icon-size));
}

.tile-icon.o-player-icon {
  width: calc(var(--tile-icon-size) / 3 * 2);
  height: calc(var(--tile-icon-size) / 3 * 2);
  stroke-width: 2.25px;
}
