@import url('global.css');

.tic-tac-toe-page {
  --tile-icon-size: 12vh;
}

.game-board {
  width: 60vh;
  height: 60vh;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.tile-icon {
  filter: drop-shadow(4px 4px 5px rgba(0, 0, 0, 0.5));
  width: calc(var(--tile-icon-size));
  height: calc(var(--tile-icon-size));
}
