.toggle {
  --transition-duration: 0.125s;

  width: calc(var(--toggle-size) * 1.75);
  height: var(--toggle-size);
  background-color: #ccc;
  border-radius: 100rem;
  padding: 0.125rem;
  cursor: pointer;
  transition-property: all;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

.toggle.active {
  background-color: #00ff80;
}

.spinner {
  width: var(--toggle-size);
  height: var(--toggle-size);
  background-color: white;
  border-radius: 100rem;
  transition-property: all;
  transition-duration: var(--transition-duration);
  transition-timing-function: ease-in-out;
}

.spinner.active {
  transform: translateX(calc(var(--toggle-size) * 0.75));
}
